/* Portfolio\CodeFolio\DevShowcase\static\css\home.css */

/* 
    Home Section 
                    */

.home-section {
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4; /* Light background for the section */
}

.main-title {
    font-size: 2.5rem;
    color: #2E3D55; /* Dark blue color to match the navbar */
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: fadeInUp 2s ease-in-out;
}

.highlighted-name {
    position: relative; /* Required for absolute positioning of the pseudo-element */
    display: inline; /* Ensures the pseudo-element aligns correctly with the text */
}

.highlighted-name::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    width: 0; /* Start with a width of 0 */
    height: 2px; /* Thickness of the underline */
    background-color: #2E3D55; /* Color of the underline */
    animation: underlineSlide 5s infinite;
}

/* Slide animation for the underline with a pause */
@keyframes underlineSlide {
    0%, 20% {
        width: 0;
    }
    40%, 60% {
        width: 100%;
    }
    80%, 100% {
        width: 0;
    }
}

/* Simple fade-in-up animation for the title */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 
    About Me section 
                        */

.about-section {
    display: flex;
    justify-content: center;
    padding: 40px 1% 0; /* Top and horizontal padding only, no bottom padding */
}

.about-text {
    flex: 1; /* Flex property to allow the box to grow */
    margin-right: 2%; /* Adds a little space between the text and the image */
    margin-bottom: 0; /* Removes the bottom margin to pull up the Skills and Tools sections */
}

.about-image-container {
    flex: 1; /* Flex property to allow the box to grow */
    padding-left: 2%; /* Adds a little space between the text and the image */
}

.about-image {
    max-width: 100%; /* Makes the image responsive within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text h2 {
    color: #2E3D55;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* 
    Education Section 
*/
                        
.education-section {
    padding: 0 1% 40px; /* Bottom and horizontal padding only, no top padding */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px; /* Pulls the education section closer to the section above */
    margin-bottom: -70px; /* Reduced bottom margin to bring the next section closer */
}

.education-image-container {
    flex: 1;
    padding-right: 10px; /* Reduced space between the image and text */
    order: 1; /* Keeps the image on the left on desktop */
}

.education-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-content {
    flex: 2; /* Gives more space to the content than the image */
    padding-left: 10px; /* Reduced space between the image and text */
    order: 2; /* Keeps the text on the right on desktop */
}

.education-content h2 {
    color: #2E3D55;
    margin-bottom: 15px;
}

.education-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* 
    Certifications section
*/

.certifications-section {
    margin-top: -70px; /* Reduced top margin to bring it closer to the previous section */
}

.certifications {
    display: flex;
    justify-content: space-around; /* Changed to 'space-around' for even spacing */
    margin: 20px 0;
}

.certifications-title-container {
    position: relative; /* Establish a positioning context */
    height: 50px; /* Give it some height */
    text-align: center; /* Center-align the text for medium and large screens */
}

.certifications-title {
    position: absolute; /* Position the title absolutely within its container */
    right: 50%; /* Start from the middle of the screen */
    transform: translateX(50%); /* Shift the title to the left by half of its width */
}

.certification-col {
    flex: 1;
    text-align: center;
    border: 1px solid #ddd; /* Light border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px;
    transition: transform 0.3s ease; /* For hover effect */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack the logo and text vertically */
    justify-content: flex-start; /* Align the start of the content to the top */
}

#harvardx-col {
    flex: 1.2; /* HarvardX column slightly larger */
}

.certification-logo-container {
    margin-bottom: 15px;
    height: 120px; /* Set a fixed height for all logo containers */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center the logo vertically */
}

.certification-text {
    text-align: left;
    align-self: flex-start; /* Align the text container to the top */
}

.certification-logo {
    max-width: 120px; /* Adjusted size */
    transition: transform 0.3s ease; /* For hover effect */
}

.ubcx-logo {
    max-width: 70px; /* Adjusted size */
}

.harvardx-logo {
    max-width: 200px; /* Adjusted size */
}

.delftx-logo {
    max-width: 120px; /* Adjusted size */
}

.certification-text {
    text-align: left;
}

.certification-text ul {
    padding: 0;
    list-style: none;
}

.certification-text li {
    margin-bottom: 5px;
}

/* Hover effect for logos */
.certification-logo-container:hover .certification-logo {
    transform: scale(1.1); /* Logo pops up slightly */
}

/* Hover effect for columns */
.certification-col:hover {
    transform: translateY(-5px); /* Column lifts up on hover */
}

/* 
    Experience Text Section 
*/

.experience-text-section {
    margin-top: 30px; /* Space above the section */
    padding: 20px; /* Padding around the text */
    text-align: center; /* Center align the text within this section */
}

.experience-text-section .experience-content {
    max-width: 80%; /* Max width for optimal reading */
    margin: 0 auto; /* Center the content */
    font-size: 1rem;
    line-height: 1.6;
    color: #333;    
}

/* 
    Experience Images Section 
*/

.experience-images-section {
    padding: 20px; /* Padding around the images */
}

.experience-images-section .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: hidden; /* Remove horizontal scroll */
}

.card {
    width: 80px; /* Initial small width */
    height: 300px; /* Set an initial height */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

input:checked + label.card {
    width: 600px; /* Expanded width */
}

/* Custom radio button styles */
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
}

input[type="radio"] + label::before {
    content: attr(for);
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2;
}

input[type="radio"]:checked + label::before {
    background-color: rgb(179, 179, 179);
}

/* 
    Projects Section 
                        */
                       
.projects-section {
    margin-top: 30px; /* Pushes the experience section farther to the section above */
}

.projects-section h2 {
    text-align: center;
    margin: 30px 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spacing between cards */
}

.project-card {
    width: 300px; /* Or any suitable width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will space out the content */
    height: 600px; /* Adjust this height as needed */
}

.project-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 12px 24px rgba(0,0,0,0.2); /* Increase shadow for popping effect */
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
}

.project-info h3 {
    margin-top: 10px;
}

.project-info p {
    font-size: 0.9rem;
    color: #666;
}

.project-link1, .project-link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Give some height to the link for better clickability */
    border: 1px solid #192436; /* Thin dark blue border */
    border-radius: 5px; /* Optional rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
    text-decoration: none; /* Remove underline from link */
    color: #2E3D55; /* Initial color */
    background-color: transparent; /* Initial background */
    margin-top: 10px; /* Space from the description text */
    font-weight: bold; /* Make the text bold */
    padding: 5px 10px; /* Add some padding inside the link */
    margin-top: auto; /* Pushes the link to the bottom */
}


.project-link1:hover {
    background-color: #5fbe00; /* New background color on hover */
    color: white; /* Text color change for better contrast */
    transform: scale(1.1); /* Slightly enlarge the link text on hover */
}

.project-link2:hover {
    background-color: #9500ac; /* New background color on hover */
    color: white; /* Text color change for better contrast */
    transform: scale(1.1); /* Slightly enlarge the link text on hover */
}

/* 
    Contact Section 
                        */

.contact-section {
    background-color: #2E3D55; /* Distinguished color for the background */
    text-align: center;
    padding: 5px 0;
    color: white; /* White text color for better contrast */
    margin-top: 30px; /* Pushes the projects section farther up */
}

.contact-section h2 {
    margin-bottom: 20px;
    color: white; /* Ensuring the heading is also white */
}

.contact-info {
    font-size: 1rem;
    /* The text color is already set to white above */
}

.contact-link {
    color: white; /* Links are white */
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline;
    color: #F9A826; /* Optional: Change the color on hover for a visual cue */
}

/* 
    Responsive Design for Smartphones 
*/

@media screen and (max-width: 768px) {
    .about-section {
        flex-direction: column; /* Stacks content vertically */
    }

    .about-text,
    .about-image-container {
        flex: none; /* Resets the flex grow/shrink */
        width: 100%; /* Ensures full width */
        margin-right: 0; /* Resets the margin */
        padding-left: 0; /* Resets the padding */
    }

    .experience-section .wrapper, .experience-section .container {
        max-width: 100%;
        overflow-x: hidden; /* Hide horizontal overflow */
    }
    
    .education-section {
        flex-direction: column; /* Stack elements vertically */
        margin-top: 10px; /* Adjust top margin for mobile */
        margin-bottom: 30px; /* Adjust bottom margin for mobile */
    }

    .education-image-container {
        order: 2; /* Moves the image below the text on mobile */
    }

    .education-content {
        order: 1; /* Moves the text above the image on mobile */
    }

    .education-image-container,
    .education-content {
        flex: none; /* Reset flex-grow settings */
        width: 100%; /* Full width for both image and content */
        padding: 10px 0; /* Add some vertical padding */
    }

    .project-card {
        width: 80%; /* Full width of the container */
        height: auto; /* Adjust height to content */
        margin-bottom: 20px; /* Space between cards */
    }

    .certifications {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .certification-col {
        width: 100%; /* Each column takes full width */
        margin-bottom: 20px; /* Add some space between stacked items */
    }

    #harvardx-col {
        flex: 1; /* Reset the flex property for mobile */
    }
}